
ul, ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
h1, h2, h3, p {
    /* padding: 0px; */
    margin: 0px;   
}
p {
    padding: 0px;
    margin: 0px;
}
img {
    display: block;
    margin: 0px;
    padding: 0px;
}

.listConteiner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
}

.listEl {
    margin-left: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 90px) / 3);
}

.cartConteiner {
    border: 1px solid black;
    width: 300px;
}

.cartConteinerTitle {
    display: flex;
   margin-right: 20px;
   margin-bottom: 5px;
   margin-left: 25px;
   
 
}

.cartVideo {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 260px;
}

.cartTitle {

    font-size: 10px;
    text-align: center;
    }

    .cartButton {
        margin-left: 5px;
        border-radius: 50%;
        margin-bottom: 10px;
        border: 0;
        background-color: red;
        color: azure;
        width: 20px;    
    }

    .cartButton:hover, .cartButton:focus {
        background-color: azure;  
        color: red;
    }