.conteiner {
   display: flex;
    padding: 20px;
    /* margin-left: -30px; */
    margin-bottom: 30px;
    background-color: bisque;
    color: black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    /* width: 6em */
   /* min-width: 100%; */
 }
 
.linkComteiner {
    margin-left: 100px;
}

 .list {
    margin-left: 30px;
    font-Size: 30px;
    text-decoration: none;
    color: black;
 }
 
 .carrentColor {
    color: red;
 }