.conteiner {
   display: flex;
    padding: 20px;
    margin-bottom: 30px;
    background-color: bisque;
    color: black;
    border-bottom: 1px solid black;
    border-radius: 5px;
   width: 2000px;
 }
 
.linkComteiner {
    margin-left: 350px;
}

 .list {
    margin-left: 30px;
    font-Size: 25px;
    text-decoration: none;
    color: black;
 }
 
 .carrentColor {
    color: red;
 }