.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
  }
  
  .Modal {
  
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
  }

  .button {
    position: absolute;
    right: 28px;
    bottom: 20px;
    border: 0;
    border-radius: 5px;
    padding: 7px;
    background-color: bisque;
    color: red;
    font-size: 20px;
    text-align: center;
  }

  .button:hover, .button:focus {
    background-color:  rgb(196, 122, 32);
    color: white;
}

  .video {
    margin: 0;
    padding: 0;
    width: 1850px;
    height: 890px;
  }
